/* styles.css */

/* MENU PRINCIPAL */ 
/* Estilos del header */
/* Container for the framed look */
.container {
    border: 2px solid #971e26; /* Marco negro de 10px */
    padding: 15px; /* Espacio interno para que el contenido no toque el marco */
    margin: -10px; /* Espacio exterior para centrar y separar el contenido del borde de la ventana */
    max-width: 1200px; /* Ancho máximo del contenido */
    background-color: #ddd8a0; /* Fondo blanco dentro del marco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra alrededor del marco */
}

header {
    background: linear-gradient(to right, #009247bb, #fff, #ce2b36cf); /* Gradiente con colores de la bandera italiana */
    padding: 20px;
    text-align: center;
    font-style: oblique;
    font-size: large;
    font-family: serif;
    margin-bottom: 20px;
}

h2 {
    font-size: medium;
    font-weight: 100;
}

/* Estilos del menú principal */
.main-menu {
    text-align: center; /* Centrar el menú */
    margin-bottom: 20px; /* Espacio inferior */
}

.main-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Cambiar a display flex */
    flex-direction: column; /* Mostrar los elementos en columna */
    align-items: center; /* Centrar horizontalmente */
}

.main-menu ul li {
    margin-bottom: 10px; /* Espacio entre elementos */
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #f2eec3; /* Fondo gris claro */
    width: 200px; /* Ancho fijo */
    text-align: center; /* Centrar el texto */
    overflow: hidden;
}

.main-menu ul li a {
    display: block;
    font-size: 18px; /* Tamaño de fuente */
    color: #971e26; /* Color de texto */
    text-decoration: none;
    font-family: serif;
    font-style: oblique;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición */
    box-sizing: border-box;
}

.main-menu ul li a:hover {
    background-color: #ccac9a; /* Color de fondo en hover */
    color: #fff;
    border-radius: 10px; /* Color de texto en hover */
}

/* GENERAL STYLES */

body {
    font-family: Arial, sans-serif;
    background-color: rgba(232, 222, 195, 0.831);
    color: #000;
    margin: 0;
    padding: 20px;
}

/* MENU SECTION */

.menu-section {
    margin-bottom: 40px;
    background-color: #f2eec3c3;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.menu-section h2 {
    color: #096a38;
    border-bottom: 2px solid #096a38;
    padding-bottom: 10px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.menu-item:last-child {
    border-bottom: none;
}

.item-info {
    max-width: 70%;
}

.item-name {
    margin: 0;
    color: #971e26;
    font-weight: 500;
}

.item-description {
    font-weight: 100;
    font-size: small;
    margin: 5px 0;
    color: #000;
}

.item-price {
    color: #096a38;
    font-weight: bold;
}

.menu-item button {
    background-color: #096a38;
    color: #fff;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.menu-item button:hover {
    background-color: #50a879;
}

/* BASKET SECTION */
.basket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#clear-button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#clear-button:hover {
    background-color: #ff4c4c;
}

#basket-section {
    margin-top: 40px;
    background-color: #e1e0dcc3;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#basket-section h2 {
    color: #096a38;
    border-bottom: 2px solid #096a38;
    padding-bottom: 10px;
}

#basket {
    list-style-type: none;
    padding: 0;
}

#basket li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

#basket li:last-child {
    border-bottom: none;
}

.basket-item-name {
    flex: 1;
    text-align: left;
}

.basket-item-price {
    margin-left: 10px;
    text-align: right;
}

.remove-item-button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 5px 10px; /* Tamaño estándar para los botones */
    cursor: pointer;
    border-radius: 5px;
    flex-shrink: 0; /* Impide que el botón cambie de tamaño */
    margin-left: 10px; /* Espacio a la izquierda del botón */
}

.remove-item-button:hover {
    background-color: #ff4c4c;
}

#total {
    color: #971e26;
}

/* BACK BUTTON */

.back-button {
    display: inline-block;
    margin-top: 5px;
    padding: 5px 20px;
    background-color: #096a38c3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #50a879;
}

/* ORDER BUTTON */

#order-button {
    background-color: #096a38;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#order-button:hover {
    background-color: #007f3e;
}

#order-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
